* {
    box-sizing: border-box;
  }
  .abtmE {
  color:bisque
  
  }
  body {
    background-color: #2c3531;
    padding: 20px;
    font-family: Arial;
  }
  
  .heading{
    background-color: #116466;
    color: #d1e8e2;
    padding: 1em;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  /* Content */
  .Content {
    background-color: #272b30;
    padding: 10px;
    color: #ffcb9a;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #116466;
    cursor: pointer;
    margin-right: 20px;
  }
  
  nav{
    background-color: #272b30;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Add a grey background color on mouse-over */
  .btn:hover {
    background-color: grey;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    background-color: rgb(71, 121, 104);
     color: white;
  }
  